body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  text-align: center;
  color: #44545e;
  outline: 0;
}

/* Responsive images */
img {
  max-width: 100%;
}

.bold {
  font-weight: 700;
  color: #7aaeea;
  font-style: italic;
}

/* ----------------------------------------
Layout
------------------------------------------- */

/* ----------------------------------------
Testimonials
------------------------------------------- */

.testimonials {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  position: relative;
  background-color: #f1f6fc;
  border-radius: 0px 0px 400px 40px;
  transform: skew();
}

.personDiv {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  margin-bottom: 40px;
}

.successLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.bgDiv {
  background-color: #7aaeea;
  width: fit-content;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 2px #5579a3;
}

.buttonDiv {
  position: absolute;
  /* width: 250px; */
  /* height: 250px; */
  /* background-color: purple; */
}

.iconBtn {
  background-color: white;
  /* color: white; */
  cursor: pointer;
  color: #49688c;
  /* background-color: #49688c; */
  border-radius: 150px;
  opacity: 0.7;
  transition: 1s opacity;
}

.iconBtn:hover {
  opacity: 1;
}

.successRight {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-evenly;
  padding: 30px;
  padding-right: 80px;
  text-align: start;
  margin-bottom: 40px;
}

.storyName {
  font-size: 45px;
  padding: 0;
  margin: 0 0 10px;
  /* background-color: peru; */
}

.storyText {
  /* background-color: orchid; */
  font-size: 20px;
  line-height: 1.2em;
}

.react-responsive-modal-container {
  outline: 0;
}

video {
  outline: 0;
}

/* ----------------------------------------
About Me
------------------------------------------- */

.about-me {
  position: relative;
  font-size: 25px;
  /* background-color: #f1f6fc; */
  background-color: white;
}

.about-container {
  /* display: flex; */
  /* padding-top: 15px; */
  /* background-color: pink; */
}

.about-pic-div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 4px 30px 0 30px;
  /* background-color: brown; */
}

.about-pic {
  height: 80%;
  background-color: #f1f6fc;
  box-shadow: 0px 0px 20px 2px #5579a3;
}

.about-text-div {
  padding: 50px;
  /* background-color: sandybrown; */
  justify-content: center;
  align-items: center;
}

.about-text-div p {
  padding-bottom: 20px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  /* background-color: seagreen; */
}

/* ----------------------------------------
Phone
------------------------------------------- */
